html, body {
    background-color: #edeef0;
}

footer {
    bottom: 10px;
    text-align: center;
}

footer i {
    color: #ff0000;
}

nav {
    background-color: rgb(71, 178, 245);
}

.nav-item {
    color: white;
}

.navbar-brand {
    color: white;
}